.CssFile .css-file-block {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid green; }

.CssFile ul {
  display: flex;
  width: 100px;
  overflow: scroll; }

.CssFile ul::-webkit-scrollbar {
  display: none; }
