.App {
    margin: 0px 10px;
    .useing-block {
        margin: 20px 0;
        border: 1px solid black;
        padding: 10px 0;
    }
    .useing-table {
        margin: 10px 20px;
        display: inline-block;
        cursor: pointer;
        border: 1px solid peru;
        padding: 12px 6px;
    }
}
.input-image--disapear {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
}
.input-image-block {
    pointer-events: none;
    width: 200px;
    border: 1px dashed rgba(0,0,0,0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    .mark-text {
        font-size: 48px;
        margin: 20px;
        color: rgba(0,0,0,0.1);
    }
}