.scss-block {
    .scss-using-block {
        display: flex;
        border: 1px solid black;
        .helf-block {
            display: inline-block;
            width: 50%;
            box-sizing: border-box;                       
        }
    }
}